.profile {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  max-width: 92%;
  min-width: 390px;
  margin: auto;
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 1em 0;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.5s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
