<!--
<section id="projetos">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
      {{ range $el := .Site.Data.projects.source }}
        <h5>
          <i class="{{ .icon }}"></i>&nbsp;&nbsp;
          <strong><a href={{ .link }}>{{ .name }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
        </h5>
      {{ end }}
      </div>
    </div>
  </div>
</section> -->

{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h3>{{ .Site.Data.projects.name }}</h3>
		  <div class="panel panel-default">
			<div class="panel-body">
			  {{ range $el := .Site.Data.projects.source }}
			<h5>
			  <i class="{{ .icon }}"></i>&nbsp;&nbsp;
			  <strong><a href={{ .link }}>{{ .name }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
			</h5>
		  {{ end }}
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Footer -->
	{{ partial "footer" . }}	
		      
  </body>
</html>
