.subtitle {
  color: #b8c0e0;
  overflow: hidden;
  border-right: .5em solid #7dc4e4;
  white-space: nowrap;
  margin: 0 auto 1em;
  animation: typing 2s steps(25, end), blink-caret 1s linear 2s infinite;
}

@keyframes typing {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #7dc4e4
  }
}
