<header class="three columns">
  <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" class="me"></a>
  <h1>{{ .Site.Params.Resume.author }}</h1>
  <p>
    <a href="tel:{{ .Site.Params.Resume.tel_full }}">{{ .Site.Params.Resume.tel }}</a>
  </p>
  <address>
    <!--
    <a href="{{ .Site.Params.Resume.google_maps }}" target="_blank">
      {{ .Site.Params.Resume.address }}<br/>
      {{ .Site.Params.Resume.postcode }}<br/>
    -->
      {{ .Site.Params.Resume.city }}<br/>
      {{ .Site.Params.Resume.country }}
    </a>
  </address>
  <p>
    <a href="{{ .Site.Params.Resume.website_full }}" target="_blank">{{ .Site.Params.Resume.website }}</a><br/>
  </p>
  <p>
    <a href="{{ .Site.Params.Resume.email_full }}">{{ .Site.Params.Resume.email }}</a>
    <a href="http://github.com/{{ .Site.Params.Resume.github }}" target="_blank"><i class="fa fa-github"></i>&nbsp;Github</a> /
    <a href="http://linkedin.com/in/{{ .Site.Params.Resume.linkedin }}" target="_blank"><i class="fa fa-linkedin-square"></i>&nbsp;Linkedin</a>
  </p>
</header>
