{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3><strong>{{ .Site.Params.author }}</strong></h3>
        <h3>Graduando de Sistemas de Informação.</h3>
        <h3>Bolsista <a href="http://www.inf.pucrs.br/petinf/" target="_blank">PET-Informática</a>.</h3>
        <h3>Veja os <a href="{{ .Site.BaseURL }}projetos/"> projetos</a> em que trabalhei.</h3>
        <h3>Dê uma olhada em meu <a href="{{ .Site.BaseURL }}curriculo/">currículo</a>.</h3>
        <h3>Entre em contato pelo <a href="http://facebook.com/{{ .Site.Params.Social.Facebook }}" target="_blank">facebook</a> ou por <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}        
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
